/* === Global SASS File === //
Handles import of all Sass and partials, outputting as style.css 
*/
/*! == VARIABLES == */
/* Dark Red */
/* Mid Red  */
/* Sky Blue */
/* Light green */
/* Dark Red */
/*! == MODIFIERS == */
/* Flex Containers */
/* 
Loop to generate margins and padding based on ems.
Syntax is mt3 = margin top 3em, pl5 = padding left 5em
*/
.mt0 {
  margin-top: 0em; }

.pt0 {
  padding-top: 0em; }

.cols-mt0 > div[class^='col-'] {
  margin-top: 0em; }

.cols-pt0 > div[class^='col-'] {
  padding-top: 0em; }

.mb0 {
  margin-bottom: 0em; }

.pb0 {
  padding-bottom: 0em; }

.cols-mb0 > div[class^='col-'] {
  margin-bottom: 0em; }

.cols-pb0 > div[class^='col-'] {
  padding-bottom: 0em; }

.ml0 {
  margin-left: 0em; }

.pl0 {
  padding-left: 0em; }

.cols-ml0 > div[class^='col-'] {
  margin-left: 0em; }

.cols-pl0 > div[class^='col-'] {
  padding-left: 0em; }

.mr0 {
  margin-right: 0em; }

.pr0 {
  padding-right: 0em; }

.cols-mr0 > div[class^='col-'] {
  margin-right: 0em; }

.cols-pr0 > div[class^='col-'] {
  padding-right: 0em; }

.mt1 {
  margin-top: 1em; }

.pt1 {
  padding-top: 1em; }

.cols-mt1 > div[class^='col-'] {
  margin-top: 1em; }

.cols-pt1 > div[class^='col-'] {
  padding-top: 1em; }

.mb1 {
  margin-bottom: 1em; }

.pb1 {
  padding-bottom: 1em; }

.cols-mb1 > div[class^='col-'] {
  margin-bottom: 1em; }

.cols-pb1 > div[class^='col-'] {
  padding-bottom: 1em; }

.ml1 {
  margin-left: 1em; }

.pl1 {
  padding-left: 1em; }

.cols-ml1 > div[class^='col-'] {
  margin-left: 1em; }

.cols-pl1 > div[class^='col-'] {
  padding-left: 1em; }

.mr1 {
  margin-right: 1em; }

.pr1 {
  padding-right: 1em; }

.cols-mr1 > div[class^='col-'] {
  margin-right: 1em; }

.cols-pr1 > div[class^='col-'] {
  padding-right: 1em; }

.mt2 {
  margin-top: 2em; }

.pt2 {
  padding-top: 2em; }

.cols-mt2 > div[class^='col-'] {
  margin-top: 2em; }

.cols-pt2 > div[class^='col-'] {
  padding-top: 2em; }

.mb2 {
  margin-bottom: 2em; }

.pb2 {
  padding-bottom: 2em; }

.cols-mb2 > div[class^='col-'] {
  margin-bottom: 2em; }

.cols-pb2 > div[class^='col-'] {
  padding-bottom: 2em; }

.ml2 {
  margin-left: 2em; }

.pl2 {
  padding-left: 2em; }

.cols-ml2 > div[class^='col-'] {
  margin-left: 2em; }

.cols-pl2 > div[class^='col-'] {
  padding-left: 2em; }

.mr2 {
  margin-right: 2em; }

.pr2 {
  padding-right: 2em; }

.cols-mr2 > div[class^='col-'] {
  margin-right: 2em; }

.cols-pr2 > div[class^='col-'] {
  padding-right: 2em; }

.mt3 {
  margin-top: 3em; }

.pt3 {
  padding-top: 3em; }

.cols-mt3 > div[class^='col-'] {
  margin-top: 3em; }

.cols-pt3 > div[class^='col-'] {
  padding-top: 3em; }

.mb3 {
  margin-bottom: 3em; }

.pb3 {
  padding-bottom: 3em; }

.cols-mb3 > div[class^='col-'] {
  margin-bottom: 3em; }

.cols-pb3 > div[class^='col-'] {
  padding-bottom: 3em; }

.ml3 {
  margin-left: 3em; }

.pl3 {
  padding-left: 3em; }

.cols-ml3 > div[class^='col-'] {
  margin-left: 3em; }

.cols-pl3 > div[class^='col-'] {
  padding-left: 3em; }

.mr3 {
  margin-right: 3em; }

.pr3 {
  padding-right: 3em; }

.cols-mr3 > div[class^='col-'] {
  margin-right: 3em; }

.cols-pr3 > div[class^='col-'] {
  padding-right: 3em; }

.mt4 {
  margin-top: 4em; }

.pt4 {
  padding-top: 4em; }

.cols-mt4 > div[class^='col-'] {
  margin-top: 4em; }

.cols-pt4 > div[class^='col-'] {
  padding-top: 4em; }

.mb4 {
  margin-bottom: 4em; }

.pb4 {
  padding-bottom: 4em; }

.cols-mb4 > div[class^='col-'] {
  margin-bottom: 4em; }

.cols-pb4 > div[class^='col-'] {
  padding-bottom: 4em; }

.ml4 {
  margin-left: 4em; }

.pl4 {
  padding-left: 4em; }

.cols-ml4 > div[class^='col-'] {
  margin-left: 4em; }

.cols-pl4 > div[class^='col-'] {
  padding-left: 4em; }

.mr4 {
  margin-right: 4em; }

.pr4 {
  padding-right: 4em; }

.cols-mr4 > div[class^='col-'] {
  margin-right: 4em; }

.cols-pr4 > div[class^='col-'] {
  padding-right: 4em; }

.mt5 {
  margin-top: 5em; }

.pt5 {
  padding-top: 5em; }

.cols-mt5 > div[class^='col-'] {
  margin-top: 5em; }

.cols-pt5 > div[class^='col-'] {
  padding-top: 5em; }

.mb5 {
  margin-bottom: 5em; }

.pb5 {
  padding-bottom: 5em; }

.cols-mb5 > div[class^='col-'] {
  margin-bottom: 5em; }

.cols-pb5 > div[class^='col-'] {
  padding-bottom: 5em; }

.ml5 {
  margin-left: 5em; }

.pl5 {
  padding-left: 5em; }

.cols-ml5 > div[class^='col-'] {
  margin-left: 5em; }

.cols-pl5 > div[class^='col-'] {
  padding-left: 5em; }

.mr5 {
  margin-right: 5em; }

.pr5 {
  padding-right: 5em; }

.cols-mr5 > div[class^='col-'] {
  margin-right: 5em; }

.cols-pr5 > div[class^='col-'] {
  padding-right: 5em; }

.mt6 {
  margin-top: 6em; }

.pt6 {
  padding-top: 6em; }

.cols-mt6 > div[class^='col-'] {
  margin-top: 6em; }

.cols-pt6 > div[class^='col-'] {
  padding-top: 6em; }

.mb6 {
  margin-bottom: 6em; }

.pb6 {
  padding-bottom: 6em; }

.cols-mb6 > div[class^='col-'] {
  margin-bottom: 6em; }

.cols-pb6 > div[class^='col-'] {
  padding-bottom: 6em; }

.ml6 {
  margin-left: 6em; }

.pl6 {
  padding-left: 6em; }

.cols-ml6 > div[class^='col-'] {
  margin-left: 6em; }

.cols-pl6 > div[class^='col-'] {
  padding-left: 6em; }

.mr6 {
  margin-right: 6em; }

.pr6 {
  padding-right: 6em; }

.cols-mr6 > div[class^='col-'] {
  margin-right: 6em; }

.cols-pr6 > div[class^='col-'] {
  padding-right: 6em; }

.mt7 {
  margin-top: 7em; }

.pt7 {
  padding-top: 7em; }

.cols-mt7 > div[class^='col-'] {
  margin-top: 7em; }

.cols-pt7 > div[class^='col-'] {
  padding-top: 7em; }

.mb7 {
  margin-bottom: 7em; }

.pb7 {
  padding-bottom: 7em; }

.cols-mb7 > div[class^='col-'] {
  margin-bottom: 7em; }

.cols-pb7 > div[class^='col-'] {
  padding-bottom: 7em; }

.ml7 {
  margin-left: 7em; }

.pl7 {
  padding-left: 7em; }

.cols-ml7 > div[class^='col-'] {
  margin-left: 7em; }

.cols-pl7 > div[class^='col-'] {
  padding-left: 7em; }

.mr7 {
  margin-right: 7em; }

.pr7 {
  padding-right: 7em; }

.cols-mr7 > div[class^='col-'] {
  margin-right: 7em; }

.cols-pr7 > div[class^='col-'] {
  padding-right: 7em; }

.mt8 {
  margin-top: 8em; }

.pt8 {
  padding-top: 8em; }

.cols-mt8 > div[class^='col-'] {
  margin-top: 8em; }

.cols-pt8 > div[class^='col-'] {
  padding-top: 8em; }

.mb8 {
  margin-bottom: 8em; }

.pb8 {
  padding-bottom: 8em; }

.cols-mb8 > div[class^='col-'] {
  margin-bottom: 8em; }

.cols-pb8 > div[class^='col-'] {
  padding-bottom: 8em; }

.ml8 {
  margin-left: 8em; }

.pl8 {
  padding-left: 8em; }

.cols-ml8 > div[class^='col-'] {
  margin-left: 8em; }

.cols-pl8 > div[class^='col-'] {
  padding-left: 8em; }

.mr8 {
  margin-right: 8em; }

.pr8 {
  padding-right: 8em; }

.cols-mr8 > div[class^='col-'] {
  margin-right: 8em; }

.cols-pr8 > div[class^='col-'] {
  padding-right: 8em; }

.mt9 {
  margin-top: 9em; }

.pt9 {
  padding-top: 9em; }

.cols-mt9 > div[class^='col-'] {
  margin-top: 9em; }

.cols-pt9 > div[class^='col-'] {
  padding-top: 9em; }

.mb9 {
  margin-bottom: 9em; }

.pb9 {
  padding-bottom: 9em; }

.cols-mb9 > div[class^='col-'] {
  margin-bottom: 9em; }

.cols-pb9 > div[class^='col-'] {
  padding-bottom: 9em; }

.ml9 {
  margin-left: 9em; }

.pl9 {
  padding-left: 9em; }

.cols-ml9 > div[class^='col-'] {
  margin-left: 9em; }

.cols-pl9 > div[class^='col-'] {
  padding-left: 9em; }

.mr9 {
  margin-right: 9em; }

.pr9 {
  padding-right: 9em; }

.cols-mr9 > div[class^='col-'] {
  margin-right: 9em; }

.cols-pr9 > div[class^='col-'] {
  padding-right: 9em; }

.mt10 {
  margin-top: 10em; }

.pt10 {
  padding-top: 10em; }

.cols-mt10 > div[class^='col-'] {
  margin-top: 10em; }

.cols-pt10 > div[class^='col-'] {
  padding-top: 10em; }

.mb10 {
  margin-bottom: 10em; }

.pb10 {
  padding-bottom: 10em; }

.cols-mb10 > div[class^='col-'] {
  margin-bottom: 10em; }

.cols-pb10 > div[class^='col-'] {
  padding-bottom: 10em; }

.ml10 {
  margin-left: 10em; }

.pl10 {
  padding-left: 10em; }

.cols-ml10 > div[class^='col-'] {
  margin-left: 10em; }

.cols-pl10 > div[class^='col-'] {
  padding-left: 10em; }

.mr10 {
  margin-right: 10em; }

.pr10 {
  padding-right: 10em; }

.cols-mr10 > div[class^='col-'] {
  margin-right: 10em; }

.cols-pr10 > div[class^='col-'] {
  padding-right: 10em; }

.mt20 {
  margin-top: 20em; }

.pt20 {
  padding-top: 20em; }

.cols-mt20 > div[class^='col-'] {
  margin-top: 20em; }

.cols-pt20 > div[class^='col-'] {
  padding-top: 20em; }

.mb20 {
  margin-bottom: 20em; }

.pb20 {
  padding-bottom: 20em; }

.cols-mb20 > div[class^='col-'] {
  margin-bottom: 20em; }

.cols-pb20 > div[class^='col-'] {
  padding-bottom: 20em; }

.ml20 {
  margin-left: 20em; }

.pl20 {
  padding-left: 20em; }

.cols-ml20 > div[class^='col-'] {
  margin-left: 20em; }

.cols-pl20 > div[class^='col-'] {
  padding-left: 20em; }

.mr20 {
  margin-right: 20em; }

.pr20 {
  padding-right: 20em; }

.cols-mr20 > div[class^='col-'] {
  margin-right: 20em; }

.cols-pr20 > div[class^='col-'] {
  padding-right: 20em; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 150px; }

.sticky:before,
.sticky:after {
  content: '';
  display: table; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

/* Height */
.h0 {
  height: 0vh; }

.h25 {
  height: 25vh; }

.h50 {
  height: 50vh; }

.h75 {
  height: 75vh; }

.h100 {
  height: 100vh; }

/* Typography */
.font100 {
  font-weight: 100; }

.font200 {
  font-weight: 200; }

.font300 {
  font-weight: 300; }

.font400 {
  font-weight: 400; }

.font500 {
  font-weight: 500; }

.font600 {
  font-weight: 600; }

.font700 {
  font-weight: 700; }

.font800 {
  font-weight: 800; }

.font900 {
  font-weight: 900; }

/* Font Size */
.size1 {
  font-size: 1em; }

.size2 {
  font-size: 2em; }

.size3 {
  font-size: 3em; }

.size4 {
  font-size: 4em; }

.size5 {
  font-size: 5em; }

.size6 {
  font-size: 6em; }

.size7 {
  font-size: 7em; }

.size8 {
  font-size: 8em; }

.size9 {
  font-size: 9em; }

.size10 {
  font-size: 10em; }

/* Animation */
@-webkit-keyframes pulse {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.1; }
  100% {
    opacity: 1.0; } }

.slide-up {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .slide-up.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

.slide-down {
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .slide-down.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }

.slide-right {
  -webkit-transform: translate(-100px, 50px);
  -ms-transform: translate(-100px, 50px);
  transform: translate(-100px, 50px);
  opacity: 0;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }
  .slide-right.active {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }

.slow-fade {
  opacity: 0;
  -webkit-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease; }
  .slow-fade.active {
    opacity: 1; }

/*! == MIXINS == */
/*=====MASTER GRID RULES=====*/
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1em;
  max-width: 1400px;
  margin: 0 auto; }
  .container.fullwidth {
    max-width: none; }
  .container.no-gutter {
    grid-gap: 0; }
  .container.no-gutter-r {
    grid-row-gap: 0; }
  .container.no-gutter-c {
    grid-column-gap: 0; }
  .container.align-horiz-l > div {
    justify-self: flex-start; }
  .container.align-horiz-c > div {
    -ms-grid-column-align: center;
    justify-self: center; }
  .container.align-horiz-r > div {
    justify-self: flex-end; }
  .container.align-vert-t > div {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .container.align-vert-c > div {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .container.align-vert-b > div {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .container > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; }
  .container.cols-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }

.container .col {
  width: 100%; }

.container .col.align-horiz-l {
  justify-self: flex-start; }

.container .col.align-horiz-c {
  -ms-grid-column-align: center;
  justify-self: center; }

.container .col.align-horiz-r {
  justify-self: flex-end; }

.container .col.align-vert-t {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.container .col.align-vert-c {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.container .col.align-vert-b {
  -ms-flex-item-align: end;
  align-self: flex-end; }

/*----Media Query LARGE (1200px)----*/
@media only screen and (max-width: 1200px) {
  .mt0 {
    margin-top: 0em; }
  .mb0 {
    margin-bottom: 0em; }
  .ml0 {
    margin-left: 0em; }
  .mr0 {
    margin-right: 0em; }
  .mt1 {
    margin-top: 1em; }
  .mb1 {
    margin-bottom: 1em; }
  .ml1 {
    margin-left: 1em; }
  .mr1 {
    margin-right: 1em; }
  .mt2 {
    margin-top: 2em; }
  .mb2 {
    margin-bottom: 2em; }
  .ml2 {
    margin-left: 2em; }
  .mr2 {
    margin-right: 2em; }
  .mt3 {
    margin-top: 3em; }
  .mb3 {
    margin-bottom: 3em; }
  .ml3 {
    margin-left: 3em; }
  .mr3 {
    margin-right: 3em; }
  .mt4 {
    margin-top: 4em; }
  .mb4 {
    margin-bottom: 4em; }
  .ml4 {
    margin-left: 4em; }
  .mr4 {
    margin-right: 4em; }
  .mt5 {
    margin-top: 5em; }
  .mb5 {
    margin-bottom: 5em; }
  .ml5 {
    margin-left: 5em; }
  .mr5 {
    margin-right: 5em; }
  .mt6 {
    margin-top: 6em; }
  .mb6 {
    margin-bottom: 6em; }
  .ml6 {
    margin-left: 6em; }
  .mr6 {
    margin-right: 6em; }
  .mt7 {
    margin-top: 7em; }
  .mb7 {
    margin-bottom: 7em; }
  .ml7 {
    margin-left: 7em; }
  .mr7 {
    margin-right: 7em; }
  .mt8 {
    margin-top: 8em; }
  .mb8 {
    margin-bottom: 8em; }
  .ml8 {
    margin-left: 8em; }
  .mr8 {
    margin-right: 8em; }
  .mt9 {
    margin-top: 9em; }
  .mb9 {
    margin-bottom: 9em; }
  .ml9 {
    margin-left: 9em; }
  .mr9 {
    margin-right: 9em; }
  .mt10 {
    margin-top: 10em; }
  .mb10 {
    margin-bottom: 10em; }
  .ml10 {
    margin-left: 10em; }
  .mr10 {
    margin-right: 10em; }
  .mt20 {
    margin-top: 20em; }
  .mb20 {
    margin-bottom: 20em; }
  .ml20 {
    margin-left: 20em; }
  .mr20 {
    margin-right: 20em; } }

/*END*/
/*=====PROJECT GRID RULES=====*/
/* New grid layouts follow this syntax:
    
&.cols-4-8 {
    .col:nth-of-type(1n) {
        grid-column: span 4;      
    }
    .col:nth-of-type(2n) {
        grid-column: span 8;     
    }    
}

*/
/*! == GLOBAL == */
html {
  font-size: 16px; }

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0; }

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  background: whitesmoke;
  color: #50514d; }

main {
  min-height: 100vh; }

p {
  font-size: 1.2em;
  font-weight: 200; }

a {
  display: inline-block;
  line-height: 1.2em;
  color: #3b0c0c;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #8f2100; }
  a i {
    line-height: 1.2em;
    vertical-align: bottom;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

img {
  max-width: 100%;
  height: auto; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.75em; }

.heading {
  font-family: "Big Caslon FB", serif;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #3b0c0c; }
  .heading__alt-font {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400; }
  .heading__caps {
    text-transform: uppercase; }
  .heading__light {
    color: white; }
  .heading__secondary-color {
    color: #8f2100; }
  .heading__tertiary-color {
    color: #8adbe5; }
  .heading__section {
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    text-align: center;
    border-bottom: 2px dashed #8f2100; }
  .heading__xxl {
    font-size: 6.5em; }
  .heading__xl {
    font-size: 4em; }
  .heading__lg {
    font-size: 2.5em; }
  .heading__md {
    font-size: 1.5em; }
  .heading__sm {
    font-size: 1.2em; }
  .heading__xs {
    font-size: 0.75em; }

input {
  border-radius: 0; }

.brand-line {
  padding-bottom: 0.5em;
  border-bottom: 2px dashed rgba(59, 12, 12, 0.5); }

.brand-line-light {
  padding-bottom: 0.5em;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5); }

/*===========HEADER==========*/
.site-wrapper {
  position: relative; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  color: white; }
  header a {
    color: white; }
  header .menu-trigger {
    position: relative;
    margin-top: 1em;
    z-index: 1000; }
  header .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    header .brand a {
      display: block;
      height: 4.5em;
      text-align: center;
      -webkit-transition: height 0.5s ease;
      -o-transition: height 0.5s ease;
      transition: height 0.5s ease; }
      header .brand a img {
        display: inline-block;
        height: 100%; }

nav {
  background: #3b0c0c; }
  nav .actions-nav .button {
    padding: 0.5em;
    display: block;
    margin-left: auto;
    width: 180px;
    font-size: 0.9em;
    color: #3b0c0c; }
    nav .actions-nav .button:first-of-type {
      margin-bottom: 1em;
      text-transform: none;
      font-weight: 100;
      color: white; }

.home-link {
  display: inline-block;
  width: 5%; }

.nav-menu {
  margin-right: 4em;
  opacity: 0.7; }
  .nav-menu ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
  .nav-menu .top-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
    grid-template-columns: 35% 65%; }
    .nav-menu .top-menu .search {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .nav-menu .top-menu .search div {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 0;
        overflow: hidden; }
        .nav-menu .top-menu .search div.visible {
          max-width: 400px; }
      .nav-menu .top-menu .search input {
        outline: none;
        font-size: 0.8em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-left: 0.5em; }
      .nav-menu .top-menu .search button {
        font-size: 0.8em;
        border: 1px solid white;
        margin-left: 0.5em;
        outline: none;
        text-transform: uppercase;
        background: transparent;
        color: white;
        cursor: pointer; }
      .nav-menu .top-menu .search i {
        cursor: pointer; }
  .nav-menu .mainMenu-top ul {
    text-align: right; }
    .nav-menu .mainMenu-top ul li {
      display: inline-block;
      font-size: 0.8em;
      padding: 0.5em 0 0.5em 4em; }
  .nav-menu .mainMenu-bottom {
    border-top: 2px dashed white; }
    .nav-menu .mainMenu-bottom ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .nav-menu .mainMenu-bottom ul li {
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        text-transform: uppercase;
        font-size: 1em; }
        .nav-menu .mainMenu-bottom ul li a {
          padding-top: 1.5em; }

/*===========FOOTER==========*/
footer {
  color: white; }

.pre-socket {
  background: #3b0c0c; }
  .pre-socket .container h3 {
    font-size: 1.5em; }

.socket {
  background: #260808;
  width: 100%;
  padding: 2em;
  font-size: 0.75em;
  color: white; }
  .socket a {
    color: white; }
    .socket a:hover {
      color: #8f2100; }
  .socket i {
    margin-right: 1em; }
  .socket__colophon a {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid #c9c9c9;
    color: white; }
  .socket .socials {
    text-align: right; }

/*! == THEME == */
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  background: whitesmoke;
  color: #50514d; }

/*! == MEDIA QUERIES == */
@media (max-width: 1200px) {
  .container.cols-xl-1 > div {
    -ms-grid-column-span: 1;
    grid-column: span 1; }
  .container.cols-xl-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-xl-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-xl-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-xl-5 > div {
    -ms-grid-column-span: 5;
    grid-column: span 5; }
  .container.cols-xl-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .container.cols-xl-7 > div {
    -ms-grid-column-span: 7;
    grid-column: span 7; }
  .container.cols-xl-8 > div {
    -ms-grid-column-span: 8;
    grid-column: span 8; }
  .container.cols-xl-9 > div {
    -ms-grid-column-span: 9;
    grid-column: span 9; }
  .container.cols-xl-10 > div {
    -ms-grid-column-span: 10;
    grid-column: span 10; }
  .container.cols-xl-11 > div {
    -ms-grid-column-span: 11;
    grid-column: span 11; }
  .container.cols-xl-12 > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

@media (max-width: 992px) {
  .container.cols-lg-1 > div {
    -ms-grid-column-span: 1;
    grid-column: span 1; }
  .container.cols-lg-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-lg-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-lg-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-lg-5 > div {
    -ms-grid-column-span: 5;
    grid-column: span 5; }
  .container.cols-lg-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .container.cols-lg-7 > div {
    -ms-grid-column-span: 7;
    grid-column: span 7; }
  .container.cols-lg-8 > div {
    -ms-grid-column-span: 8;
    grid-column: span 8; }
  .container.cols-lg-9 > div {
    -ms-grid-column-span: 9;
    grid-column: span 9; }
  .container.cols-lg-10 > div {
    -ms-grid-column-span: 10;
    grid-column: span 10; }
  .container.cols-lg-11 > div {
    -ms-grid-column-span: 11;
    grid-column: span 11; }
  .container.cols-lg-12 > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

@media (max-width: 768px) {
  .container.cols-md-1 > div {
    -ms-grid-column-span: 1;
    grid-column: span 1; }
  .container.cols-md-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-md-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-md-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-md-5 > div {
    -ms-grid-column-span: 5;
    grid-column: span 5; }
  .container.cols-md-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .container.cols-md-7 > div {
    -ms-grid-column-span: 7;
    grid-column: span 7; }
  .container.cols-md-8 > div {
    -ms-grid-column-span: 8;
    grid-column: span 8; }
  .container.cols-md-9 > div {
    -ms-grid-column-span: 9;
    grid-column: span 9; }
  .container.cols-md-10 > div {
    -ms-grid-column-span: 10;
    grid-column: span 10; }
  .container.cols-md-11 > div {
    -ms-grid-column-span: 11;
    grid-column: span 11; }
  .container.cols-md-12 > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

@media (max-width: 576px) {
  .container.cols-sm-1 > div {
    -ms-grid-column-span: 1;
    grid-column: span 1; }
  .container.cols-sm-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-sm-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-sm-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-sm-5 > div {
    -ms-grid-column-span: 5;
    grid-column: span 5; }
  .container.cols-sm-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .container.cols-sm-7 > div {
    -ms-grid-column-span: 7;
    grid-column: span 7; }
  .container.cols-sm-8 > div {
    -ms-grid-column-span: 8;
    grid-column: span 8; }
  .container.cols-sm-9 > div {
    -ms-grid-column-span: 9;
    grid-column: span 9; }
  .container.cols-sm-10 > div {
    -ms-grid-column-span: 10;
    grid-column: span 10; }
  .container.cols-sm-11 > div {
    -ms-grid-column-span: 11;
    grid-column: span 11; }
  .container.cols-sm-12 > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

@media (max-width: 350px) {
  .container.cols-xs-1 > div {
    -ms-grid-column-span: 1;
    grid-column: span 1; }
  .container.cols-xs-2 > div {
    -ms-grid-column-span: 2;
    grid-column: span 2; }
  .container.cols-xs-3 > div {
    -ms-grid-column-span: 3;
    grid-column: span 3; }
  .container.cols-xs-4 > div {
    -ms-grid-column-span: 4;
    grid-column: span 4; }
  .container.cols-xs-5 > div {
    -ms-grid-column-span: 5;
    grid-column: span 5; }
  .container.cols-xs-6 > div {
    -ms-grid-column-span: 6;
    grid-column: span 6; }
  .container.cols-xs-7 > div {
    -ms-grid-column-span: 7;
    grid-column: span 7; }
  .container.cols-xs-8 > div {
    -ms-grid-column-span: 8;
    grid-column: span 8; }
  .container.cols-xs-9 > div {
    -ms-grid-column-span: 9;
    grid-column: span 9; }
  .container.cols-xs-10 > div {
    -ms-grid-column-span: 10;
    grid-column: span 10; }
  .container.cols-xs-11 > div {
    -ms-grid-column-span: 11;
    grid-column: span 11; }
  .container.cols-xs-12 > div {
    -ms-grid-column-span: 12;
    grid-column: span 12; } }

/*===========EXTRA LARGE (1600px)==========*/
@media only screen and (max-width: 1600px) {
  /*body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0;
}*/
  /*---GLOBALS---*/
  /*---HEADER---*/
  /*---CONTENT---*/
  /*---FOOTER---*/ }

/*---end large mq---*/
/*===========LARGE (1200px)==========*/
@media only screen and (max-width: 1200px) {
  /*body:before {
  content: 'LARGE';
  position: fixed;
  z-index: 9999;
  top:0;
}*/
  /*---GLOBALS---*/
  /*---HEADER---*/
  /*---CONTENT---*/
  /*---FOOTER---*/ }

/*---end large mq---*/
/*===========MEDIUM (992px)==========*/
@media only screen and (max-width: 992px) {
  /*  body:before {
    content: 'MEDIUM';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  /*---GLOBALS---*/
  body {
    font-size: 0.9em; }
  /*---HEADER---*/
  /*---CONTENT---*/
  /*---FOOTER---*/ }

/*---end medium mq---*/
/*===========SMALL (768px)==========*/
@media only screen and (max-width: 768px) {
  /*  body:before {
    content: 'SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  /*---GLOBALS---*/
  body {
    font-size: 0.8em; }
  /*---HEADER---*/
  /*---CONTENT---*/
  /*---FOOTER---*/ }

/*---end small mq---*/
/*===========EXTRA SMALL (576px)==========*/
@media only screen and (max-width: 576px) {
  /*  body:before {
    content: 'EXTRA SMALL';
    position: fixed;
    z-index: 9999;
    top:0;
  }*/
  /*---GLOBALS---*/
  body {
    font-size: 0.7em; }
  /*---HEADER---*/
  /*---CONTENT---*/
  /*---CONTENT---*/
  /*---FOOTER---*/ }

/*---end extra small mq---*/
