/*! == GLOBAL == */
html {
    font-size: 16px;
}

html,
body {
    min-height: 100vh;
    margin:0;
    padding: 0;
}

body {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 100;
    background: #e3e3e6;
    color: hsl(69, 2%, 31%);
}

main {
    min-height: 100vh;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}

a {
    display: inline-block;
    line-height: 1.2em;
    color: $brand-primary;
    text-decoration: none;
    transition:color 0.3s ease;

    i {
        line-height: 1.2em;
        vertical-align: bottom;
        transition:all 0.5s ease;
    }
}

p a {
    position: relative;
    font-weight: 700;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 2px;
        width: 0;
        background: $brand-primary;
        transition: width 0.5s ease;
    }

    &:hover:before {
        width:100%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.75em;
}

.heading {
    margin: 0;
    font-family: $body-font;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: $brand-dark-grey;

    &__brand-font {
        font-family: $brand-font;
        font-weight: 400;
    }

    &__caps {
        text-transform: uppercase;
    }

    &__light {
        color: white;
    }

    &__secondary-color {
      color: $brand-secondary;
    }

    &__tertiary-color {
      color: $brand-tertiary;
    }

    &__section {
        margin-bottom: 1em;
        padding-bottom: 0.25em;
        text-align: center;
        border-bottom: 2px dashed $brand-secondary;
    }

    &__xxl {
        font-size: 6.5em;
    }

    &__xl {
        font-size: 4em;
        line-height: 1.2em;
    }

    &__lg {
        font-size: 2.5em;
    }

    &__md {
        font-size: 1.5em;
    }

    &__sm {
        font-size: 1em;
    }

    &__xs {
        font-size: 0.75em;
    }

}

input {
	border-radius: 0;
}

.brand-line {
	padding-bottom: 0.5em;
	border-bottom: 2px dashed rgba($brand-primary, 0.5);
}

.brand-line-light {
	padding-bottom: 0.5em;
	border-bottom: 2px dashed rgba(white, 0.5);
}

/*===========HEADER==========*/

.site-wrapper {
    position: relative;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 500;
    color: white;

    a {
        color: white;
    }

    .menu-trigger {
        position: relative;
        margin-top:1em;
        z-index: 1000;
    }

    .brand {
		display: flex;
		align-items: center;
		justify-content: center;

        a {
            display: block;
            height: 4.5em;
            text-align: center;
            transition: height 0.5s ease;

            img {
                display: inline-block;
                height: 100%;
            }
        }
    }

}

nav {
    background: $header-color;

    .actions-nav .button {
		padding: 0.5em;
		display: block;
		margin-left: auto;
		width: 180px;
		font-size: 0.9em;
		color: $brand-primary;

		&:first-of-type {
			margin-bottom: 1em;
			text-transform: none;
			font-weight: 100;
			color: white;
		}
    }
}

.home-link {
    display: inline-block;
    width:5%
}

.nav-menu {
	margin-right: 4em;
	opacity: 0.7;

    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .top-menu {
	    display: grid;
	    grid-template-columns: 35% 65%;

	    .search {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			div {
				flex-grow: 1;
				display: flex;
				max-width: 0;
				overflow: hidden;

				&.visible {
					max-width: 400px;
				}
			}

		    input {
			    outline: none;
			    font-size: 0.8em;
			    flex-grow: 1;
				margin-left: 0.5em;
		    }

		    button {
				font-size: 0.8em;
				border: 1px solid white;
				margin-left: 0.5em;
				outline: none;
				text-transform: uppercase;
				background: transparent;
				color: white;
				cursor: pointer;
		    }

		    i {
			    cursor: pointer;
		    }
	    }
    }

    .mainMenu-top {

	    ul {
		    text-align: right;

		    li {
				display: inline-block;
				font-size: 0.8em;
				padding: 0.5em 0 0.5em 4em;
			}
	    }

    }

    .mainMenu-bottom {
	    border-top: 2px dashed white;

	    ul {
		    display: flex;
			justify-content: space-between;

			li {
				@include gridCenter;
	            height:100%;
	            text-transform: uppercase;
	            font-size: 1em;

	            a {
	                padding-top: 1.5em;
	            }
			}
	    }
    }
}


/*===========FOOTER==========*/
footer {

}

.pre-socket {
    background: $brand-primary;

    .container {

	    h3 {
		    font-size: 1.5em;
	    }
    }
}

.socket {
	background: darken($brand-primary, 5%);
    font-size: 0.75em;
    color: white;

    a {
        color: white;

        &:hover {
            color: $brand-secondary;
        }
    }

    i {
      margin-right: 1em;
    }

    &__colophon {

      a {
        margin-left:0.5em;
        padding-left:0.5em;
        border-left: 1px solid $brand-mid-grey;
        color: white;
      }
    }

    .socials {
        text-align: right;
    }

  }
