/*! == VARIABLES == */

$brand-primary:   hsl(187, 73%, 30%);   /* Teal */
$brand-secondary:  hsl(14, 100%, 28%); /* Mid Red  */
$brand-tertiary:   hsl(187, 64%, 72%); /* Sky Blue */
$brand-green:      hsl(88, 37%, 45%);  /* Light green */
$brand-red:        hsl(12, 100%, 31%); /* Dark Red */
$brand-light-grey: hsl(0, 0%, 88%);
$brand-mid-grey:   hsl(0, 0%, 79%);
$brand-dark-grey:  hsl(0, 0%, 30%);
$header-color: hsl(0, 0%, 15%);

$brand-font: 'Raleway', sans-serif;
$body-font: 'Lato', sans-serif;
$supporting-font: 'Lato', sans-serif;

$container-width: 1300px;
$col-count: 12;
$grid-gap: 1em;

$breakpoints: (
	xl: 1200px,
	lg: 1000px,
	md: 768px,
	sm: 576px,
	xs: 350px
);
